<li id="task<%= task.id %>"><%= check_box_tag dom_id(task), nil, task.status, :class => 'checkbox', data: {remote: true, url: task_path(task.id), method: 'PUT' }%>
<%= task.title  %>
<% unless task.deadline.nil? %>
  , to read: <%= task.deadline  %>
  <% end %>
<a class="text-danger" href="<%=task_path(task.id)%>" data-confirm= 'Are you sure ?' data-method="DELETE", data-remote="true">delete</a></li>
